html, body {
        position: relative;
        height: 100%;
    }
    body {
        /*background: #eee;*/
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
        color: white;
        transition: all 1s;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: left;
        font-size: 18px;
        /*background: #fff;*/
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    .parallax-bg {
       position: absolute;
       left: 0;
       top: 0;
       width: 130%;
       height: 100%;
       -webkit-background-size: cover;
       background-size: cover;
       background-position: center;
   }

   .swiper-slide .title {
       font-size: 41px;
       font-weight: 300;
   }
   .swiper-slide .subtitle {
       font-size: 21px;
   }
   .swiper-slide .text {
       font-size: 14px;
       max-width: 400px;
       line-height: 1.3;
   }

   #slide2 .title{
     position: absolute;
     top:30px;
     left:20px;
     z-index: 11;
   }

   #slide2 .subtitle{
     position: absolute;
     top:90px;
     left:25px;
     z-index: 10;
   }

   #slide2 .text{
     position: absolute;
     top:130px;
     left:25px;
     z-index: 10;
     width:85%;
   }

   #slide2 .img{
     position: absolute;
     left:15px;
     bottom:0;
     width: 140%;
     z-index: 11;
   }

   #slide2 .bg{
     position: absolute;
     left:0;
     bottom:0;
     width: 100%;
     z-index: 10;
   }

   #slide3 .title{
     position: absolute;
     left:15px;
     top:30px;
   }

   #slide3 .subtitle{
     position: absolute;
     left:20px;
     top:90px;
   }

   #slide3 .text{
     position: absolute;
     left:20px;
     top:130px;
     width:75%;
   }

   #slide3 .img{
     position: absolute;
     bottom:0px;
     width:100%;
   }

   #slide4 .title{
     position: absolute;
     left:15px;
     top:30px;
   }

   #slide4 .subtitle{
     position: absolute;
     left:20px;
     top:90px;
   }

   #slide4 .text{
     position: absolute;
     left:20px;
     top:130px;
     width:65%;
   }

   #slide4 .img{
     position: absolute;
     bottom:0px;
     right:-70px;
     width:90%;
   }

   #slide5 .title{
     position: absolute;
     top:20px;
     right: 10px;
   }

   #slide5 .subtitle-1{
     font-size: 28px;
     position: absolute;
     top:90px;
     right: 20px;
     background-color: red;
     padding:5px;
   }

   #slide5 .subtitle-2{
     font-size: 28px;
     position: absolute;
     top:140px;
     right: 20px;
   }

   #slide5 .subtitle-3{
     font-size: 28px;
     position: absolute;
     top:190px;
     right: 20px;
   }

   #slide5 .img{
     position: absolute;
     bottom: 0;
     left:-50px;
     width:90%;
   }
